[submodule "frontend"]
	path = frontend
	url = https://github.com/Janni2006/remote-sensebox-react.git
[submodule "backend"]
	path = backend
	url = https://github.com/Janni2006/remote-sensebox-react-backend
